.pdp {
  display: flex;
  flex-direction: column;
  &__buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.donate-details {
  font-family: Lato,sans-serif;
  display: grid;
  &__header-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__header {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 5px 0;
    text-align: center;
  }
  &__city-date {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
    text-align: center;
  }
  &__img {
    box-shadow: 5px 5px 20px #a6a6a6;
    border-radius: 0.3rem;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 10rem;
  }
  &__desc-container {
    box-shadow: 5px 5px 20px #a6a6a6;
    border: 1px solid #666666;
    border-radius: 0.3rem;
    margin: 1rem;
    padding: 0.3rem 1rem;
  }
  &__user-info {
    box-shadow: 5px 5px 20px #a6a6a6;
    border: 1px solid #666666;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    margin: 1rem;
  }
  &__title {
    font-size: 1.2rem;
    color:#33BB77;
    padding: 0.2rem 0;
    font-weight: bold;
  }
  &__subtitle {
    margin-top: 0.3rem;
  }
  &__content {
    font-size: 1rem;
  }
  &__user-title{
    font-weight: bold;
  }
}