.PDP{
  &__btn{
    font-family: Lato,sans-serif;
    margin: 1.5rem 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    font-weight: bold;

  }
  &__delete-btn{
    border: 2px solid transparent;
    background-color: #cc3333;
  }
  &__delete-btn:hover{
    color: #cc3333;
    background-color:#ffffff;
    border: 2px solid #cc3333;
  }

  &__edit-btn{
    border: 2px solid transparent;
    background-color: #33bb77;
  }
  &__edit-btn:hover{
    color: #33bb77;
    background-color:#ffffff;
    border: 2px solid #33bb77;
  }
}