.PDP{
  &__btn{
    font-family: Lato,sans-serif;
    margin: 1.5rem 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    font-weight: bold;

  }
  &__delete-btn{
    border: 2px solid transparent;
    background-color: #cc3333;
  }
  &__delete-btn:hover{
    color: #cc3333;
    background-color:#ffffff;
    border: 2px solid #cc3333;
  }

  &__edit-btn{
    border: 2px solid transparent;
    background-color: #33bb77;
  }
  &__edit-btn:hover{
    color: #33bb77;
    background-color:#ffffff;
    border: 2px solid #33bb77;
  }
}

.modal-win{
  font-family: Lato,sans-serif;
  font-size: 1rem;
  display: grid;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  &__header{
    background-color: #33BB77;
    display: flex;
    justify-content: flex-end;
  }
  &__cancel-btn{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__form{
    background-color: white;
    display: grid;
    grid-template-rows: repeat(5,auto);
  }
  &__form-desc{
    text-align: justify;
    padding: 1rem;
    color: #333333;
  }
  &__input-label{
    padding-bottom: 0.5rem;
    font-weight: bold;
    justify-self: center;
  }
  &__input{
   margin-left: 1rem;
   margin-right: 1rem;
    justify-self: center;
  }
  &__submit-btn{
    justify-self: center;
    background-color: #33BB77;
    color: #ffffff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__forgot-pin{
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

}