.carousel-caption {
  margin-bottom: 350px;
  line-height: 16px;
  font-size: 20px;
}

.carousel-indicators {
  text-align: right;
  z-index: 2;
}
  li {
    margin-right: 10px;
  }

  .active {
    margin-right: 10px;
    img{
      min-width: 100vw;
      max-height: 30vh;
    }
  }

.h1,
h1 {
  font-size: 60px;
}


.carousel-inner > .item > a > img,
.carousel-inner > .item > img, .img-responsive,
.thumbnail a > img,
.thumbnail > img{
  min-width: 100vw;
  height: 30vh;
}