.hidden{
  display: none;
}
.header{
  position: relative;
  &__search-container{
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 3.7rem;
    left: 0;
    right: 0;
  }

  &__search-form{
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: repeat(2,auto);
    justify-content: center;
    border-bottom: 1px solid #000;
  }

  &__search-input {
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
    font-size: 1rem;
  }
  &__search-input::placeholder{
    font-size: 1rem;
    color: #333333;
  }
  &__search-btn {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background: #333333;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
  }
  &__search-btn:hover{
    color: #33bb77;
  }
  &__cancel-btn{
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #333333;
    cursor: pointer;
    background-color: white;
    outline: none;
  }
  &__cancel-btn:hover{
  color: #cc3333;
  }
}
.button{
  background-color: #cc3333;
}