@media screen and (min-width: 480px) {
  html{
    font-size: 20px;
  }
  .active {
    &:hover {
      color: #33bb77;
    }
  }
}

@media screen and (min-width: 640px) {
  html{
    font-size: 22px;
  }
  .footer{
    grid-template-rows: auto;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    &__item{
      margin-left: 2rem;
    }
    &__item-content{
      display: block;
    }
  }
}

@media screen and (min-width: 960px) {
  html{
    font-size: 23px;
  }

}
